* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 79px;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  }

  .header {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  
  .header__left{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
  }
  
  
  .left__block{
    width: 427px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__right {
    display: flex;
    align-items: center;
  }

  .menu__list {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 347px;
    height: 36px;
    align-items: center;
  }
  
  .sign{
    display: flex;
    width: 244px;
    justify-content: space-around;
    align-items: center;
    height: 36px;
  }
  
  .sign__in {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 36px;
    width: 112px;
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .sign__up {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 112px;
    height: 36px;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
  }
  
  .header__logo {
    display: flex;
    width: 37px; 
    height: 37px;
    background: rgba(242, 153, 74, 1);
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    
  .color__white {
   color: rgba(181, 181, 181, 1);
  }
  
  .link__in {
    color: rgba(242, 153, 74, 1);
  }
  
  .link__up {
    color: rgba(255, 255, 255, 1);
  }
  
  .logo__item1{
    background-color: white;
    width: 14px;
    height: 6px;
    z-index: 2;
    border-radius: 15%;
    margin-bottom: 2px;
  }
  
  .logo__item2{
    background-color: white;
    width: 14px;
    height: 6px;
    z-index: 2;
    border-radius:  15%;
  }