* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 79px;
  }
  
  .header {
    width: 100%;
    max-width: 1440px;
    height: 780px;
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    background-color: #02160b;
  }
  
  .header__logo {
    width: 240px;
    height: 60px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu__list{
    width:481px;
    display: flex;
    justify-content: space-around;
  }
  
  .menu__links {
    text-decoration: none;
  }
  
  button {
    height: 50px;
    width: 120px;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: Transparent;
    color: white;      
  }
  
  a {
    color: rgba(247, 247, 247, 1);
  }
  
  .menu__items:hover {
    transform: translateY(-5px);
  }
  
  .menu__links1:hover {
    transform: translateY(-5px);
  }

  .menu__links1 {
    text-decoration: none;
  }